// Place all the styles related to the Contributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
    margin-top: 0;
    
    & > body {
        margin-top: 8px;
       
        
        a {
            text-decoration: none;
            
            & > img {
                margin-top: 2px;    
                margin-left: 2px;
            }
        }
        
        a:hover {
            color: black;
            background: none;
        }
        
        a:visited {
            color: black;
        }
        
        td {
            padding: 0 0 0 0;
        }
    }
    
}

.title{
    color: black !important;
    font-size: 10pt;
}

.url_post{
    color: #828282 !important;
    font-size: 8pt;
}

.url_post:hover{
    color: #828282 !important;
    font-size: 8pt;
    text-decoration: underline;
}

.details{
    color: #828282 !important;
    font-size: 7pt;
}

.details a span{
    color: #828282 !important;
    font-size: 7pt;
}

.details a span:hover{
    color: #828282 !important;
    font-size: 7pt;
    text-decoration: underline;
}

.enum{
    padding-left:10px;
    color:#828282;
    width:30px;
}

.pagetop:hover {
    text-decoration: underline;
}

#table_in {
    margin-left: 0;
}